@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "文章详细";
}
@model Qin.Blog.Entity.DBModel.ArticleDBModel
@if (Model != null)
{
    <div class="col-md-8 mainContent">
        <div class="article">
            <div class="article-head">
                <h2 class="article-title">
                    <a href="javascript:;">@Model.Title</a>
                </h2>
                <div class="article-meta">
                    <span class="author">
                        作者：
                        <a href="javascript:;">@(Model.NickName != null ? Model.NickName : "Blog Writer")</a>
                    </span>
                    •
                    <time class="article-date" datetime="@Model.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")" title="@Model.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")">
                        @Model.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                    </time>
                    <span>浏览：@Model.ViewCount</span>
                </div>
            </div>
            <div class="featured-media">
                @if (Model.Pics != null)
                {
                    <a href="javascript:;">
                        <img class="img-responsive" src="@Model.Pics" alt="@Model.Title">
                    </a>
                }
            </div>
            <div class="article-content">
                @Html.Raw(Model.Content)
            </div>
            <div class="isoriginal">
                <p class="describ">
                    <i class="glyphicon glyphicon-star @(Model.IsOriginal == 1 ? "yes" : "no")"></i>
                    <span>@(Model.IsOriginal == 1 ? "作者原创，转载请指明地址！" : "此文转载，如有侵权，请悉告知")</span>
                    @if (Model.IsOriginal == 1)
                    {
                        <a target="_blank" style="display:inline-block;word-break:break-all;margin-top: 10px;" href="@Url.Action("Detail", "Article", new { id = Model.Id })">原文地址：www.visualtec.cn/article/@(Model.Id).html</a>
                    }
                </p>
            </div>
            @*评论模块 start*@
            <div class="commentWrap">
                @Html.Action("CommentList", "Comment", new { articleId = Model.Id })
            </div>
            @*评论模块 end*@
        </div>
    </div>
}
else
{
    <h3 style="text-align:center">该文章不存在</h3>
}