
@{
    ViewBag.Title = "标签分类";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 mainContent">
    <div class="articlelist">
        <div class="article-page">
            <ul>
                <li>共：<span class="total">@ViewBag.Total</span> 篇</li>
                <li>已加载：<span class="loaded">@ViewBag.Loaded</span> 篇</li>
            </ul>
        </div>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var article in Model)
            {
                <div class="article">
                    <div class="article-head">
                        <h2 class="article-title">
                            <a href="@Url.Action("Detail", "Article", new { id = article.Id })" target="_blank">@article.Title</a>
                        </h2>
                        <div class="article-meta">
                            <span class="author">
                                作者：
                                <a href="#">@(article.NickName != null ? article.NickName : "Blog Writer")</a>
                            </span>
                            •
                            <time class="article-date" datetime="@article.CreateTime" title="@article.CreateTime">@article.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</time>
                        </div>
                    </div>
                    @if (article.Pics != null)
                    {
                        <div class="featured-media">
                            <img class="img-responsive" src="@article.Pics" alt="文章图片">
                        </div>
                    }
                    <div class="article-content">
                        <p>
                            @Html.Raw(article.Abstract)
                        </p>
                    </div>
                    <div class="article-permalink">
                        <a href="@Url.Action("Detail", "Article", new { id = article.Id })" target="_blank">查看更多</a>
                    </div>

                    <footer class="article-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <span>浏览量：@article.ViewCount</span>&nbsp;
                            <span>喜欢：@article.Praise</span>
                        </div>
                        <div class="pull-right share"></div>
                    </footer>
                </div>
            }
        }
        else
        {
            <div class="article">没有了。。。</div>
        }
    </div>
    <div class="leavemsgWrap" style="display:none;">

        <div class="article-page">
            <div class="addleavmsg">
                <h4>留下您想说的吧：</h4>
                <textarea class="msg-content" placeholder="请输入您的留言(500字以内)" maxlength="500"></textarea>
                <button class="btn btn-primary">提交</button>
            </div>
        </div>
        <div class="leavemsg-page">
            <div class="article-page">
                <div class="leavemsg">
                    <p class="msg-header">
                        <a href="#">blog fan</a>
                        <time>2015-12-30 12:23:34</time>
                    </p>
                    <p>nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。</p>
                    <a class="reply" onclick="show(this)">回复</a>
                    <p class="msgWrap">
                        <textarea class="msg" placeholder="请输入你的意见(500字以内)"></textarea>
                        <button class="btn btn-success">评论</button>
                    </p>
                </div>
                <div class="leavemsg">
                    <p class="msg-header">
                        <a href="#">qinfeng</a>
                        <time>2016-01-03 12:23:34</time>
                    </p>
                    <p>很高兴收到你的留言，非常的感谢您的建议，会马上改进的。很高兴收到你的留言，非常的感谢您的建议，会马上改进的。很高兴收到你的留言，非常的感谢您的建议，会马上改进的</p>
                    <a class="reply" onclick="show(this)">回复</a>
                    <p class="msgWrap">
                        <textarea class="msg" placeholder="请输入你的意见(500字以内)"></textarea>
                        <button class="btn btn-success">评论</button>
                    </p>
                </div>
                <div class="leavemsg">
                    <p class="msg-header">
                        <a href="#">blog fan</a>
                        <time>2015-12-30 12:23:34</time>
                    </p>
                    <p>楼主的回答真精彩！！！</p>
                    <a class="reply" onclick="show(this)">回复<i class="glyphicon glyphicon-pencil"></i></a>
                    <p class="msgWrap">
                        <textarea class="msg" placeholder="请输入你的意见(500字以内)"></textarea>
                        <button class="btn btn-success">评论</button>
                    </p>
                </div>
                <div class="leavemsg">
                    <p class="msg-header">
                        <a href="#">qinfeng</a>
                        <time>2016-01-03 12:23:34</time>
                    </p>
                    <p>很高兴收到你的留言，非常的感谢您的建议，会马上改进的</p>
                    <a class="reply" onclick="show(this)">回复<i class="glyphicon glyphicon-pencil"></i></a>
                    <p class="msgWrap">
                        <textarea class="msg" placeholder="请输入你的意见(500字以内)"></textarea>
                        <button class="btn btn-success">评论</button>
                    </p>
                </div>
            </div>
            <div class="article-page">
                <div class="leavemsg">
                    <p class="msg-header">
                        <a href="#">qinfeng</a>
                        <time>2015-12-30 12:23:34</time>
                    </p>
                    <p>nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。nihao,zheshi liuyan。你好，这是留言。</p>
                    <a class="reply" onclick="show(this)">回复<i class="glyphicon glyphicon-pencil"></i></a>
                    <p class="msgWrap">
                        <textarea class="msg" placeholder="请输入你的意见(500字以内)"></textarea>
                        <button class="btn btn-success">评论</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="paginationW">
        <button class="more">查看更多</button>
    </div>
</div>

<script type="text/html" id="dataTmpl">
    <div class="article">
        <div class="article-head">
            <h2 class="article-title">
                <a href="/article/${Id}.html" target="_blank">${Title}</a>
            </h2>
            <div class="article-meta">
                <span class="author">
                    作者：
                    <a href="#">${NickName==null?"Blog Fan":NickName}</a>
                </span>
                •
                <time class="article-date" datetime="${CreateTime=='/Date(-1893484800000)/'?'':$.modifiers.formatDate(CreateTime)}" title="${CreateTime=='/Date(-1893484800000)/'?'':$.modifiers.formatDate(CreateTime)}">
                    ${CreateTime=='/Date(-1893484800000)/'?"":$.modifiers.formatDate(CreateTime)}
                </time>
            </div>
        </div>
        <div class="featured-media">
            {if Pics != null}
            <a href="#">
                <img class="img-responsive" src="${Pics}" alt="文章图片">
            </a>
            {/if}
        </div>
        <div class="article-content">
            <p>
                ${Abstract}
            </p>
        </div>
        <div class="article-permalink">
            <a href="/article/${Id}.html" target="_blank">查看更多</a>
        </div>

        <footer class="article-footer clearfix">
            <div class="pull-left tag-list">
                <i class="fa fa-folder-open-o"></i>
                <span>浏览量：${ViewCount}</span>&nbsp;
                <span>喜欢：${Praise}</span>
            </div>
            <div class="pull-right share"></div>
        </footer>
    </div>
</script>

<script src="~/Scripts/template.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.common.js" type="text/javascript"></script>
<script type="text/javascript">
    var pageIndex;
    $(function () {
        pageIndex = 1;

    });

    $(".more").click(function () {
        pageIndex++;
        Page();
    });

    function Page() {
        var index = $("li.navactive a").attr("data-typeid");
        if (index != "4") {
            $.ajax({
                url: '/Article/CategoryPage',
                dataType: 'json',
                data: { Index: index, PageIndex: pageIndex },
                type: 'post',
                success: function (data) {
                    if (data.status) {
                        $(".article-page .loaded").text(--data.pageindex * data.pagesize + data.curpagecount);
                        var articlelist = $(".articlelist");
                        $.each(data.data, function (index, element) {
                            articlelist.append(TrimPath.processDOMTemplate("dataTmpl", element));
                        });
                        if ((data.pageindex * data.pagesize + data.curpagecount) >= data.total) {
                            $(".more").addClass('none');
                            $(".more").text("没有更多了").attr("disabled", "disabled");
                        }
                    } else {
                        $(".more").hide();
                    }
                },
                error: function (data) {
                }
            });
        } else {
            $.ajax({
                url: '/LeaveMessage/Pages',
                dataType: 'json',
                data: { PageIndex: pageIndex },
                type: 'post',
                success: function (data) {
                    if (data.status) {
                        $(".total").parent().html('共：<span class="total">' + data.total + '</span> 条');
                        $(".article-page .loaded").parent().html('已加载：<span class="loaded">' + (--data.pageindex * data.pagesize + data.curpagecount) + '</span> 条');
                        var leavemsglist = $(".leavemsg-page");
                        $.each(data.data, function (index, element) {
                            leavemsglist.append(TrimPath.processDOMTemplate("leaveMsgTmpl", element));
                        });
                        if ((data.pageindex * data.pagesize + data.curpagecount) >= data.total) {
                            $(".more").addClass('none');
                            $(".more").text("没有更多了").attr("disabled", "disabled");
                        }
                    } else {
                        $(".total").parent().html('共：<span class="total">' + data.total + '</span> 条');
                        $(".article-page .loaded").parent().html('已加载：<span class="loaded">' + (--data.pageindex * data.pagesize + data.curpagecount) + '</span> 条');
                        $(".article-page").siblings(".article").remove();
                    }
                },
                error: function (data) {
                }
            });
        }
    }

    (function ($) {
        $.extend({
            formatDate: {
                /**
                 * 当前时间戳
                 * return <int>        unix时间戳(秒)
                 */
                CurTime: function () {
                    return Date.parse(new Date()) / 1000;
                },
                /**
                 * 日期 转换为 Unix时间戳
                 * param <string> 2014-01-01 20:20:20  日期格式
                 * return <int>        unix时间戳(秒)
                 */
                DateToUnix: function (string) {
                    var f = string.split(' ', 2);
                    var d = (f[0] ? f[0] : '').split('-', 3);
                    var t = (f[1] ? f[1] : '').split(':', 3);
                    return (new Date(
                            parseInt(d[0], 10) || null,
                            (parseInt(d[1], 10) || 1) - 1,
                            parseInt(d[2], 10) || null,
                            parseInt(t[0], 10) || null,
                            parseInt(t[1], 10) || null,
                            parseInt(t[2], 10) || null
                            )).getTime() / 1000;
                },
                /**
                 * 时间戳转换日期
                 * param <int> unixTime    待时间戳(秒)
                 * param <bool> isFull    返回完整时间(Y-m-d 或者 Y-m-d H:i:s)
                 * param <int>  timeZone   时区
                 */
                UnixToDate: function (unixTime, isFull, timeZone) {
                    if (typeof (timeZone) == 'number') {
                        unixTime = parseInt(unixTime) + parseInt(timeZone) * 60 * 60;
                    }
                    var strT = unixTime.toString().substring(6, 19) * 1;  //转换成整数

                    var time = new Date(parseInt(unixTime.replace("/Date(", "").replace(")", ""), 10));
                    var ymdhis = "";
                    ymdhis += time.getFullYear() + "-";
                    ymdhis += (time.getMonth() + 1) + "-";
                    ymdhis += time.getDate() + " ";
                    ymdhis += time.getHours() + ":";
                    ymdhis += time.getMinutes() + ":";
                    ymdhis += time.getSeconds();
                    if (isFull === true) {
                        ymdhis += " " + time.getUTCHours() + ":";
                        ymdhis += time.getUTCMinutes() + ":";
                        ymdhis += time.getUTCSeconds();
                    }
                    return ymdhis;
                }
            }
        });
    })(jQuery);
</script>