@{
    ViewBag.Title = "留言页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Qin.Blog.Entity.DBModel.LeaveMsgDBModel>

<div class="col-md-8 mainContent">
    <div class="articlelist">
        <div class="article-page">
            <ul>
                <li>共：<span class="total">@ViewBag.Total</span> 条</li>
                <li>已加载：<span class="loaded">@ViewBag.Loaded</span> 条</li>
            </ul>
        </div>
        <div class="leavemsgWrap">

            <div class="article-page">
                <div class="addleavemsg">
                    <h4>留下您想说的吧(还可以输入<i class="num" style="font-style:normal;">500</i>字)：</h4>
                    <textarea class="msg-content" placeholder="登录回复您的意见(500字以内)" maxlength="500"></textarea>
                    <button class="btn btn-primary">留言</button>
                </div>
            </div>

            <div class="leavemsg-page">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="article-page">
                            <div class="leavemsg">
                                <p class="msg-header">
                                    <a href="javascript:;">@item.NickName</a>
                                    <time>@item.CreateTime</time>
                                </p>
                                <p>@item.Content</p>
                                @if (item.ParentId != "0")
                                {
                                    <p class="rmsg">回复://<a>@@@item.PNickName</a>：@item.PContent <time>时间:@item.PCreateTime</time></p>
                                }
                                <a class="reply" onclick="show(this)">回复<i class="glyphicon glyphicon-pencil"></i></a>
                                <p class="msgWrap" data-parentid="@item.Id">
                                    <textarea class="msg" placeholder="回复您的意见(500字以内)"></textarea>
                                    <button class="btn btn-success">回复</button>
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="paginationW">
        @if (ViewBag.Loaded >= ViewBag.Total)
        {
            <button class="more none" disabled>没有更多了</button>
        }
        else
        {
            <button class="more">查看更多</button>
        }
    </div>
</div>



<script src="~/Scripts/template.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.common.js" type="text/javascript"></script>
<script type="text/html" id="leaveMsgTmpl">
    <div class="article-page">
        <div class="leavemsg">
            <p class="msg-header">
                {if CreateUser != null}
                <a href="javascript:;">${CreateUser}</a>
                {/if}
                {if CreateUser == null}
                <a href="javascript:;">游客</a>
                {/if}
                <time>${CreateTime=='/Date(-1893484800000)/'?"":$.modifiers.formatDate(CreateTime)}</time>
            </p>
            <p>${$.HTMLEncode(Content)}</p>
            {if ParentId != "0"}
            <p class="rmsg">回复//<a>@@${PNickName}</a>:${PContent} <time>时间:${PCreateTime=='/Date(-1893484800000)/'?"":$.modifiers.formatDate(PCreateTime)}</time></p>
            {/if}
            <a class="reply" onclick="show(this)">回复<i class="glyphicon glyphicon-pencil"></i></a>
            <p class="msgWrap" data-parentid="${Id}">
                <textarea class="msg" placeholder="回复您的意见(500字以内)"></textarea>
                <button class="btn btn-success">回复</button>
            </p>
        </div>
    </div>
</script>
<script>
    var pageIndex;
    $(function () {
        pageIndex = 1;
        //leavamessage
        $(".addleavemsg .btn-primary").click(function () {
            var msgcontent = $(".msg-content").val().trim();
            if (msgcontent) {
                $.ajax({
                    url: '/LeaveMessage/Insert',
                    type: 'post',
                    dataType: 'json',
                    data: { content: msgcontent },
                    success: function (data) {
                        if (data.status) {
                            alert(data.message);
                            window.location.reload();
                        } else {
                            alert(data.message);
                        }
                    }
                });
            } else {
                alert('请输入非空意见！');
            }
        });
        //reply leavamessage
        $(".msgWrap .btn-success").click(function () {
            var msgcon = $(this).prev().val().trim();
            var btn = $(this);
            if (msgcon) {
                $.ajax({
                    url: '/LeaveMessage/Reply',
                    type: 'post',
                    dataType: 'json',
                    data: { content: msgcon, parentId: btn.parent().attr("data-parentid") },
                    success: function (data) {
                        if (data.status) {
                            alert(data.message);
                            window.location.reload();
                        } else {
                            alert(data.message);
                        }
                    }
                });
            } else {
                alert('请输入非空意见！');
            }
        });
    });

    $(".msg-content").on("keyup", function () {
        var count = $(this).val().length;
        console.log(count);
        $(this).parent().find(".num").text(500 - count);
    });

    $(".more").click(function () {
        pageIndex++;
        Page();
    });

    function Page() {
        $.ajax({
            url: '/LeaveMessage/Pages',
            dataType: 'json',
            data: { PageIndex: pageIndex },
            type: 'post',
            success: function (data) {
                if (data.status) {
                    $(".total").parent().html('共：<span class="total">' + data.total + '</span> 条');
                    $(".article-page .loaded").parent().html('已加载：<span class="loaded">' + (--data.pageindex * data.pagesize + data.curpagecount) + '</span> 条');
                    var leavemsglist = $(".leavemsg-page");
                    $.each(data.data, function (index, element) {
                        leavemsglist.append(TrimPath.processDOMTemplate("leaveMsgTmpl", element));
                    });
                    if ((data.pageindex * data.pagesize + data.curpagecount) >= data.total) {
                        $(".more").addClass('none');
                        $(".more").text("没有更多了").attr("disabled", "disabled");
                    }
                } else {
                    $(".total").parent().html('共：<span class="total">' + 0 + '</span> 条');
                    $(".article-page .loaded").parent().html('已加载：<span class="loaded">' + 0 + '</span> 条');
                    $(".article-page").siblings(".article").remove();
                }
            },
            error: function (data) {
            }
        });
    }

    function show(_this) {
        if ($(_this).children().css('display') != "none") {
            $(_this).children().css({ "display": "none" });
            $(_this).next().removeClass("msgWrapShow");
        } else {
            $(_this).children().css({ "display": "inline-block" });
            $(_this).next().addClass("msgWrapShow");
        }
    }
</script>
