@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="前端,前端汇聚网,前端笔记,随笔,visualtec"/>
    <meta name="description" content="欢迎来到前端汇聚网，在这里与您分享前端技术、随笔美文！欢迎加入QQ技术分享群:454158799。咨询邮箱——Email:qinfengwangyi@163.com" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--禁止百度SiteApp转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="shortcut icon" href="/Content/src/images/end.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/Content/src/scss/bts/stylesheets/personbt.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/src/scss/index.css" />
    <link href="~/Content/common/css/common.css" rel="stylesheet" />
    <link href="~/Content/common/fonts/iconfont.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/Content/commonjs")*@
    <script src="~/Content/common/js/common.js"></script>
    <title>前端汇聚网</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/">
                        <label class="logo">前端汇聚网</label>
                    </a>
                    <p>欢迎来到前端汇聚网，与你分享前端技术</p>
                </div>
            </div>
        </div>
    </div>
    @Html.Action("NavHtml", "Partial")
    <div class="contentWrap">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 sidebar">
                    @Html.Action("TagHtml", "Partial")
                    <div class="widget">
                        <h4 class="title">交流社区</h4>
                        <div class="content community">
                            <p>QQ交流群：454158799</p>
                            <p>Email：qinfengwangyi@163.com</p>
                            <p>
                                <a href="#">灌水畅言社区</a>
                            </p>
                        </div>
                    </div>
                    <div class="widget" style="display:none;">
                        <h4 class="title">下载区</h4>
                        <div class="content download">
                            <p>
                                <a href="#">前端工具下载</a>
                            </p>
                            <p>
                                <a href="#">前端资料下载</a>
                            </p>
                        </div>
                    </div>
                </aside>
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="aWrap">
                <a href="#">网站简介</a>
                <a href="#">网站使用说明</a>
                <a href="#">关于我们</a>
            </p>
            <p class="copyR">Copyright © 2015 VisualTec，Technology Support By Keefe<br />Email：qinfengwangyi@163.com</p>
        </div>

    </footer>
    <div class="floatBox">
        <div class="top">
            <a href="javascript:;" title="回到顶部"><i class="glyphicon glyphicon-menu-up"></i></a>
        </div>
        <div class="bottom" title="扫描二维码浏览">
            <a href="javascript:;" title="快速扫码浏览"><i class="icon-qrcode"></i></a>
            <div class="qrcode"><img src="~/Content/common/images/qrcode.png" /></div>
        </div>
    </div>
</body>
</html>
@RenderSection("JS", false)
<script>
    $(function () {
        $(".navbar-toggle").on("click", function () {
            $(this).toggleClass("collapsed");
        })
    })
</script>